body {
  font-family: "Hind", sans-serif;
  background-color: whitesmoke;
  /* animation: pulse 5s infinite; */
  margin-left: 4rem;
  margin-right: 4rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: whitesmoke;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-link {
  padding: 1.5em;
  font-size: 1.5em;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-style: double;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #2f4f4f;
  border-radius: 14px;
  box-shadow: 0 0 3px 1px whitesmoke inset;
  background-size: 1em 1em, 100% 100%;
  background-blend-mode: hard-light;
  outline: 8px ridge #2f4f4f;
}

.header-title {
  color: #F5F5F5;
  margin-bottom: 4rem;
}

.photo-container {
  background-image: url('../static/img/photo_cv.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#download-cv {
  position: absolute;
  left: 5rem;
  top: 23rem;
  color: #F5F5F5;
  font-weight: bold;
}

.arrow {
  top: 18rem;
  position: absolute;
}

.chevron {
  position: absolute;
  width: 1.5rem;
  height: 0.30rem;
  opacity: 0;
  transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before, .chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #F5F5F5;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }

  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }

  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }

  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }

  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

.link {
  text-decoration: underline;
  font-style: italic;
}

.link-big {
  text-decoration: underline;
  font-style: italic;
  font-size: 1.4rem;
  position: relative;
  top: 0.5rem;
}

.header-title {
  font-size: 2.2em;
  padding: 7rem 0rem 4rem 4rem;
  min-width: 64%;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 7px 8px whitesmoke;
}

.cv-header {
  color: black;
  font-size: 1.2rem;
}

.cv-header:hover {
  color: white;
  text-shadow: 1px 7px 8px whitesmoke;
}

.jungle-photo {
  display: none;
}

.category-title {
  font-size: 1.6em;
  font-family: 'Varela Round', sans-serif;
  text-shadow: 1.5px 1px 2px black;
  font-weight: bold;
  padding: 2rem 0 0 0;
  text-align: center;
}

.category-para {
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 1rem;
}

.project-title {
  display: flex;
  justify-content: space-between;
}

.project-title:hover {
  text-decoration: underline;
  text-decoration-style: double;
  cursor: pointer;
}

.container-fairplay {
  display: flex;
  flex-direction: row;
}

.img-fairplay {
  width: 47%;
}

.list-title {
  padding: 1rem 0 0.5rem 0;
  font-weight: bolder;
}

.cv {
  background: white;
  border-radius: 50%;
  width: 7rem;
  height: 5rem;
  text-align: center;
  box-shadow: 0 8px 8px rgb(0 0 0 / 40%);
  /* box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4); */
}

.project-container {
  background-color: white;
  box-shadow: 0 11px 25px rgb(0 0 0 / 16%);
  margin: 1.5rem auto;
  border-radius: 14px;
  padding: 1.5rem;
}

h4 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: bolder;
  font-family: 'Varela Round', sans-serif;
}

.outils-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.progress-bar-container-four {
  min-width: 52%;
}

.progress-bar-container {
  position: relative;
  margin: 1.5rem;
  /* margin: 280px auto;  */
  padding: 20px 40px;
  border-radius: 14px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 11px 25px rgb(0 0 0 / 16%);
  ;
}

.progress-bar-loading {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 10px;
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  overflow: hidden;
}

.progress-bar-loading:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.thirty:after {
  animation: thirty 5s;
  animation-fill-mode: forwards;
}

@keyframes thirty {
  100% {
    width: 30%;
    background: #ff4141;
  }
}

.forty:after {
  animation: forty 5s;
  animation-fill-mode: forwards;
}

@keyframes forty {
  100% {
    width: 60%;
    background: #ff4141;
  }
}

.sixty:after {
  animation: sixty 5s;
  animation-fill-mode: forwards;
}

@keyframes sixty {
  100% {
    width: 60%;
    background: #ff4141;
  }
}

.seventy:after {
  animation: seventy 5s;
  animation-fill-mode: forwards;
}

@keyframes seventy {
  100% {
    width: 70%;
    background: #ff4141;
  }
}

.eighty:after {
  animation: eighty 5s;
  animation-fill-mode: forwards;
}

@keyframes eighty {
  100% {
    width: 80%;
    background: #ff4141;
  }
}


.contact-container {
  text-align: center;
}

.contact-cv-btn {
  background-color: white;
  padding: 1rem;
  width: 20%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  margin: 1.5rem auto;
}

.link-btn:hover {
  box-shadow: 0 1px 10px rgb(199, 199, 199);
}

.container-github {
  display: flex;
  flex-direction: column;
}

.github {
  width: 8rem;
  border-radius: 14px;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.linkedin {
  width: 3rem;
  border-radius: 14px;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.mail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.contact-mail {
  /* background-color: red; */
  margin-bottom: 2rem;
}

@media (max-width: 640px) {
  body {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .nav-container {
    display: none;
  }

  .nav-link {
    padding: 0em;
    font-size: 1rem;
    box-sizing: content-box;
    width: 100%;
  }

  header {
    flex-direction: column;
    border-radius: 0px;
  }

  .cv-header {
    padding-top: 2.4rem;
  }

  .header-title {
    font-size: 1.5rem;
    padding: 1rem 1rem 0 1rem;
  }

  .jungle-photo {
    display: block;
    max-width: none;
    width: 39%;
    height: auto;
    margin-left: 15.5rem;
    margin-top: -4.5rem;
  }

  .arrow {
    top: 4rem;
  }

  #download-cv {
    left: 1rem;
    top: 9rem;
  }

  .category-title {
    padding: 1rem 0 1rem 0;
  }

  .category-para {
    padding: 0rem 1rem 0rem 1rem;
    font-size: 1.1rem;
  }

  .project-title {
    flex-direction: column;
  }

  .img-fairplay {
    display: none;
  }

  .date {
    font-size: 1rem;
  }

  .progress-bar-container {
    margin: 0.5rem;
    padding: 20px 7px;
  }

  .contact-cv-btn {
    width: 68%;
    margin: 0.5rem auto;
  }

  .github {
    width: 7rem;
    margin-bottom: 0rem;
  }

  .contact-mail, .contact-tel {
    font-size: 1rem;
  }
}